@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

h1,
h2,
h3,
p,
a {
  color: #111235;
}

h2 {
  font-size: 64px;
  line-height: 75px;
}

h3 {
  font-size: 48px;
}

p {
  line-height: 24px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.bold {
  font-weight: 700;
}

header {
  text-align: center;
  padding: 16px;
  border-bottom: 1px solid lightgray;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  margin-bottom: 16px;
}

header > nav {
  display: none;
}

section {
  margin-bottom: 6rem;
}

section > div {
  padding: 16px;
  text-align: center;
}

section > div > img {
  width: 100%;
}

section > div > h2,
section > div > h3,
section > div > p {
  margin-bottom: 2rem;
}

.btn {
  padding: 1rem;
  border-radius: 30px;
  display: block;
  width: 80%;
  margin: 0 auto;
  font-weight: 600;
}

.btn-primary {
  background-color: #4b5092;
  color: white;
}

.btn-secondary {
  background-color: white;
  color: #436baa;
}

section > .shaded {
  background-color: #f2f8ff;
  padding: 3rem 12px;
  text-align: left;
}

section > .shaded > p {
  width: 90%;
  margin-bottom: 0;
}

section.gradient {
  background: rgb(186, 212, 255);
  background: linear-gradient(
    90deg,
    rgba(186, 212, 255, 1) 0%,
    rgba(100, 135, 191, 1) 100%
  );
}

section.gradient > div > h3 {
  font-weight: 700;
  padding-top: 3rem;
  margin-bottom: 1rem;
}

section.gradient > div > h4 {
  margin-bottom: 2rem;
}

section.gradient > .no-padding {
  padding: 0;
}

section.gradient > .no-padding > img {
  max-width: 200%;
  height: 100%;
}

section.benefits-section-mobile > div:nth-child(2) > h3 {
  text-align: left;
}

section.benefits-section-desktop {
  display: none;
}

.cards-container > .card {
  padding: 4rem 2rem;
  background: rgba(114, 122, 239, 0.1);
  border-radius: 30px;
  margin-bottom: 1rem;
}

.cards-container > .card > h4 {
  font-weight: 700;
  margin-bottom: 2rem;
}

.cards-container > .card > p {
  width: 85%;
}

.cards-container > .card > h4,
.cards-container > .card > p {
  text-align: left;
}

footer {
  text-align: center;
  background-color: #f2f8ff;
}

footer > .footer-content-container > div > h2 {
  font-size: 36px;
}

footer > .footer-content-container {
  border-top: 1px solid lightgray;
  padding-top: 1rem;
}

footer > .footer-content-container > nav {
  margin-bottom: 2rem;
}

footer > .footer-content-container > nav > ul > li {
  margin: 2rem;
}

footer > .footer-content-container > .newsletter-container {
  margin-bottom: 2rem;
}

footer > .footer-content-container > .newsletter-container > h4 {
  font-weight: 700;
  margin-bottom: 1rem;
}

footer > .footer-content-container > .newsletter-container > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer
  > .footer-content-container
  > .newsletter-container
  > div
  > input[type='email'] {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
}

footer > .footer-content-container > .newsletter-container > div > img {
  margin-left: -26px;
}

footer > .footer-content-container > .social-container {
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
}

footer > .footer-content-container > .social-container > .icon-circle {
  margin: 0 10px;
  height: 32px;
  width: 32px;
  background-color: rgba(128, 173, 245, 0.2);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer > .footer-content-container > .social-container > .icon-circle > img {
  width: 50%;
}

footer > .footer-content-container > div:last-child {
  padding-bottom: 3rem;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: none;
    box-shadow: none;
    padding-left: 6rem;
    padding-right: 6rem;
    margin-bottom: 2rem;
  }

  header > nav {
    display: initial;
  }

  header > nav > ul {
    display: flex;
    align-items: center;
  }

  header > nav > ul > li {
    margin: 0 12px;
  }

  header > nav > ul > li > a {
    font-weight: 500;
  }

  section:first-child {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0 6rem;
  }

  section:first-child > div:nth-child(1) {
    width: 45%;
  }

  section:first-child > div:nth-child(2) {
    width: 55%;
    text-align: left;
  }

  section:first-child > div > a {
    margin: 0;
  }

  .btn {
    width: initial;
    display: inline-block;
    padding: 1rem 3rem;
  }

  section:nth-child(2) {
    display: flex;
    padding: 0 6rem;
  }

  section:nth-child(2) > div:first-child {
    width: 50%;
  }

  section:nth-child(2) > div:last-child {
    width: 50%;
    border-radius: 50px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  section:nth-child(2) > div:last-child > p {
    width: 100%;
  }

  section.gradient {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 6rem;
    margin-bottom: 0;
  }

  section.gradient > div {
    width: 50%;
  }

  section.gradient > div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    padding: 4rem 1rem;
    margin-left: 2rem;
  }

  section.gradient > div:first-child > p:nth-of-type(1) {
    margin-bottom: 0;
  }

  section.gradient > div:first-child > .btn {
    margin: 0;
  }

  section.benefits-section-mobile {
    display: none;
  }

  section.benefits-section-desktop {
    display: block;
    padding: 3rem 6rem;
    background-color: #f2f8ff;
    margin-bottom: 0;
  }

  section.benefits-section-desktop > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  section.benefits-section-desktop > div > h3 {
    margin-bottom: 0;
  }

  section.benefits-section-desktop > div > a {
    margin: 0;
  }

  section.benefits-section-desktop > div:last-child > div:last-child {
    width: 30%;
  }

  section.benefits-section-desktop > div:last-child > div:last-child > img {
    width: 100%;
  }

  section.benefits-section-desktop > div:last-child > .cards-container {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
  }

  .cards-container > .card {
    max-width: 300px;
    width: 50%;
    min-width: 250px;
    margin: 0.5rem;
  }

  footer > .footer-content-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-bottom: 2rem;
  }

  footer > .footer-content-container > div:first-child > h2 {
    margin-bottom: 5rem;
  }

  footer > .footer-content-container > nav {
    width: 40%;
    margin-bottom: 0;
  }

  footer > .footer-content-container > nav > ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  footer > .footer-content-container > nav > ul > li {
    margin: 10px 20px;
    text-align: left;
    font-weight: 700;
  }

  footer > .footer-content-container > .newsletter-container {
    margin-bottom: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  footer > .footer-content-container > .social-container {
    display: none;
  }

  footer > .footer-content-container > div:last-child {
    position: absolute;
    bottom: 5px;
    padding-bottom: 0;
    margin-bottom: 2rem;
  }
}
